﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>API test X</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="shoes"></ul>
Shoe ID:
<input type="text" id="shoeId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:5922/ShoesApi/";

        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#shoes").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.id) + " " +
                            htmlEncode(item.brandName) + " " +
                            htmlEncode(item.name) + " for " +
                            htmlEncode(item.price) +" EUR</li>";
                        $("#shoes").append(html);
                    });
                });
        }

        function doAdd() {
            var newShoe = {
                "Shoeid": "122", "Name": "Air Max", "Size": "36", "Price": "50000", "Type": "Futocipo", "Color": "Kek", "Supplierid": "10"
            };
            $.post(url + "add", newShoe, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }
        function doMod() {
            var newShoe = {
                "Id": $("#shoeId").val(), "Name": "Air Max", "Size": "40", "Price": "70000", "Type": "Futocipo", "Color": "Piros", "Supplierid": "10"
            };
            $.post(url + "mod", newShoe, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#shoeId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            });
        }
    </script>
}