﻿@model MyShoeShop.Web.Models.Shoe

<h2>ShoesEdit</h2>

@using (Html.BeginForm("Edit", "Shoes"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());


    <div class="editor-label">@Html.LabelFor(m => m.Shoeid)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Shoeid)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Size)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Size)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Type)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Color)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Color)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Supplierid)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Supplierid)</div>

    <input type="submit" value="SEND" />
}
