﻿@model MyShoeShop.Web.Models.ShoeListViewModel

@{
    ViewData["Title"] = "Crud Index";
}

<h2>Shoes Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@await Html.PartialAsync("ShoesEdit", Model.EditedShoe)

@await Html.PartialAsync("ShoesList", Model.Shoes)
