﻿@model MyShoeShop.Web.Models.Shoe

@{
    ViewData["Title"] = "ShoesDetails";
}

<h2>Datasheet of one shoe</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Shoeid)</td>
        <td>@Html.DisplayFor(m => m.Shoeid)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Size)</td>
        <td>@Html.DisplayFor(m => m.Size)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Color)</td>
        <td>@Html.DisplayFor(m => m.Color)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Supplierid)</td>
        <td>@Html.DisplayFor(m => m.Supplierid)</td>
    </tr>
